body{
  margin: 0;
}

/* Global Styles */
.container{
  max-width: 1000px;
  margin: auto;
}

/* Element Specific */

#primary-header, #primary-footer{
  background-color: #333;
  height: 50px;
  /* margin: 10px auto; */
}


#root{
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

#filters{
  flex-shrink: 0;
  flex-grow: 0;

  display: flex;
  flex-flow: column;

  background-color: #333;
  margin: 1px;
}


.filter-option{
  display: inline-block;

  background-color: #555;
  width: 200px;
  height: 80px;

  margin: 1px;
}

#products{
  flex-shrink: 1;
  flex-grow: 1;

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;

  background-color: #333;
  margin: 1px;
}

.product{
  background-color: #555;

  width: 180px;
  height: 180px;

  margin: 1px;
}

@media screen and (max-width: 768px){
  #root{
    flex-flow: column;
  }
  #filters{
    flex-flow: row;
    flex-wrap: wrap;
    /* justify-content: flex-start ; */
  }
} 

@media screen and (max-width: 768px){
  #products{
    flex-flow: column;
    width: 100%;
    align-items: center;
  }
  #filters{
    flex-flow: column;
    width: 100%;
    align-items: center;
  }
} 